@import 'bootstrap/dist/css/bootstrap.min.css';
.centered-div {
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.pointer-item li:hover{
    cursor: pointer
}
.table {
    width: 50px;
}